* {
	font-family: "PT Sans", sans-serif !important;
}

div#container {
	width: 960px !important;
	margin-left: auto;
	margin-right: auto;
}

textarea {
	font-family: monospace !important;
}

td {
	vertical-align: top;
}

tr.odd {
	background-color: #eee;
}

table.grid {
	border-collapse: collapse;
	width: 80%;
	margin-top: 20px;
}

table.grid td {
	border: 1px solid #ccc;
	padding: 5px;
	vertical-align: top;
}

td {
	vertical-align: top;
}

div.chart {
	font-size: 11px !important;
}

div#menu {
	height: 40px;
	border-bottom: 1px solid #888;
	margin-right: 10px;
	font-family: 'PT Sans', sans-serif !important;
}

div#menu ul {
	list-style-type: none;
}

div#menu ul li {
	float: left;
}

div#menu ul a {
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	line-height: 30px;
	text-decoration: none;
	font-size: 16px;
}

div#content {
	font-family: 'PT Sans', sans-serif;
}

div#info {
	font-size: 12px;
}

div.clear {
	clear: both;
}

div.info {
	padding-right: 15px;
	padding-left: 15px;
}

div.box {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	border: 2px solid #888;
	background-color: #eeeeee;
	width: 120px;
	height: 120px;
	vertical-align: middle;
}

div.box span.number {
	font-size: 22pt;
	font-weight: bold;
	text-align: center;
	display: block;
	line-height: 90px;
}

div.box span.text {
	font-size: 11px;
	text-align: center;
	display: block;
}

h1 {
	font-size: 44px;
}

form.chart {
	position: relative;
	width: 850px;
	margin-left: 60px;
}

.legend {
	text-align: center;
	background-color: #fff;
	color: #888;
	font-size: 14px;
	width: 100%;
}

div.legend ul {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

li.line {
	float: left;
	width: auto;
	position: relative;
	clear: none !important;
}


table.cluster tr.local {
	background-color: #eeffee;
}

.section{
    border: 2px solid #888;
	background-color: #eeeeee;
	padding-right:50px;
    padding-left: 50px;
    margin: 10px;
}

.box_element{
	width: 100%;
    padding: 5px;
    float:none;
}

.btn{
    margin: 5px;
}

.splitcol-left{
    width: 50%;
    float: left;
}

.splitcol-right {
    margin-left: 50%;
    padding: 1px;
}

.scroller {
    margin:10px;
    overflow-y: scroll;
    max-height: 500px;
}

.result-entry {
    border-color: black;
    padding: 3px;
}

.no-result {
    text-align:center; 
    vertical-align: middle;
    min-height: 60px;
    font-size:20px;
}

.pbar{
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    display:inline-block;
    position: absolute;
    left:0;
    right:0;
}

.circle{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 45px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    cursor:pointer;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.fileUpload input.upload {
    position: absolute;
    height: 50px;
	top: -10px;
	left: -10px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}